<div class="h-96	bg-center bg-auto bg-cover filter-brightness-20" style="background-image: url(https://images.unsplash.com/photo-1507676184212-d03ab07a01bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80)">
</div>
  <div class="-mt-64 ">
    <div class="w-full text-center">
      <p class="text-sm tracking-widest text-white">Plaisir de rire, joie de recevoir</p>
      <h1 class="font-bold text-5xl text-white">
          Louez vos talents préférés !
      </h1>
      <%= link_to "Ajoutez un talent", new_humorist_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
</div>
<div class="container mx-auto">
</div>
