<% humor_type = ["Noir", "Enfantin", "Tout Public", "Beauf"] %>
<% humor_type.each do |type|%>
  <h1>
    <ul>
      <%= type %>
      <% @humorists.each do |humorist| %>
        <% if humorist.humor_type == type %>
        <li><%= link_to humorist.name, humorist_path(humorist) %></li>
        <% end %>
      <% end %>
    </ul>
  </h1>
<% end %>
