<% @humorists.each do |humorist| %>
  <ul>
      <li><%= humorist.name %></li>
  </ul>
<% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['pk.eyJ1IjoiZ2FlbHRyZCIsImEiOiJja3ZrcWxiZ3owaDM2MzF1Z3NnbWw1dzduIn0.ZgFimuiFHezVDyYfAo9vMg'] %>"></div>
