@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "components/cards.scss";

.loop-animation:hover  {
  svg{
    transform: scale(1.4);
    transition: 0.4s;
  }
}

.searchbar {
  width: 55%;
}

.notifications {
  position: sticky;
  bottom: 10px;
  margin-left: 10px;
}
